[mysqld]
server-id=100
log-bin=master-binlog
# The mysql database not sync
binlog-ignore-db=mysql
binlog_cache_size=1M
binlog_format=mixed
default_authentication_plugin=mysql_native_password

pid-file=/var/lib/mysql/mysqld.pid
socket=/var/lib/mysql/mysqld.sock
datadir=/var/lib/mysql/data
