[mysqld]
server-id=101
log-bin=slaver1-binlog
relay_log=slaver1-relaylog
binlog-ignore-db=mysql
log_bin_trust_function_creators=true
binlog_cache_size=1M
binlog_format=mixed
slave_skip_errors=1062
default_authentication_plugin=mysql_native_password
# 从库只做读操作
read_only=1

pid-file=/var/lib/mysql/mysqld.pid
socket=/var/lib/mysql/mysqld.sock
datadir=/var/lib/mysql/data
